@{
  Layout = "_Layout";
}

<h1>Welcome to the Hair Salon DataBase!</h1>
<p>@Html.ActionLink("See all clients", "Index", "Clients", null, new {@class = "myCssClass"})</p> 
<p>@Html.ActionLink("See all stylists", "Index", "Stylists", null, new {@class = "myCssClass"})</p>